@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: rgba(192, 154, 82, 0.3);
    color: #f5ecd6;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0c0a09;
  }
  ::-webkit-scrollbar-thumb {
    background: #44403c;
    border-radius: 3px;
  }
}
